form{
    width: 100%;
    height: 70vh;
}

.left{
    width: 49.5%;
    display: inline-block;
}

.right{
    width: 49.5%;
    display: inline-block;
    position: absolute;
}

label{
    font-weight: bolder;
    line-height: 25px;
}

legend{
    color: rgb(83, 83, 192);
    font-weight: 900;
    
}

button{
    position: absolute;
    top: 105%;
    background-color: rgb(59, 182, 59);
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.left input,textarea{
    width: 100%;
}

input[type="date"],select{
    width: 100%;
}
